﻿<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

<div class="modal fade" id="noteNotificationAdd">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="with: $root.noteViewModel.choosen">
            <div class="modal-header">
                <h4 class="modal-title"><span data-bind="text: title"></span></h4>
            </div>
            <div class="modal-body">
                <label>Напоминание: </label>
                <div class="form-group">
                    <div class="input-group date" id="myDateTime">
                        <input id="myDateTimeValue" type="text" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-bind="click: $root.noteViewModel.addNotification">Добавить</button>
            </div>
        </div>
    </div>
</div>
