﻿<div class="modal fade" id="noteTagAdd">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="with: $root.noteViewModel.choosen">
            <div class="modal-header">
                <h4 class="modal-title"><span data-bind="text: title"></span></h4>
            </div>
            <div class="modal-body">
                <label>Фильтр по тегу: </label>
                <select data-bind="
    options: $root.tagViewModel.tags,
    optionsCaption: 'Все',
    optionsText: 'name',
    optionsValue: 'id',
    value: $root.noteViewModel.choosenTag" class="form-control"></select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-bind="click: $root.noteViewModel.addTag">Добавить</button>
            </div>
        </div>
    </div>
</div>