﻿@Styles.Render("~/css/fa")
@Styles.Render("~/css/summernote")
@Scripts.Render("~/js/summernote")

<div class="modal fade" id="noteEdit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Новая заметка</h4>
                <button class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form data-bind="with: $root.noteViewModel.edited">
                    <div class="form-group">
                        <label for="noteTitleEdit">Заголовок</label>
                        <input class="form-control" id="noteTitleEdit" placeholder="Заголовок" data-bind="value: title" />
                    </div>
                    <div class="form-group">
                        <label for="noteContentEdit">Содержимое</label>
                        <div class="form-control" id="noteContentEdit" placeholder="Содержимое..." data-bind="html: content"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-bind="click: $root.noteViewModel.edit">Добавить</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#noteContentEdit').summernote(
            {
                height: 300
            });
    });
</script>
