﻿<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default" data-bind="click: $root.noteViewModel.showAddForm" @* data-toggle="modal" data-target="#noteAdd"*@><span class="glyphicon glyphicon-file"></span></button>
        <button class="btn btn-default">Удалить всё</button>
        <button class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
    <div class="pull-right">
        <form class="form-inline">
            <div class="form-group">
                <label>Фильтр по тегу: </label>
                <select data-bind="options: $root.tagViewModel.tags, optionsCaption: 'Все', optionsText: 'name', optionsValue: 'id', value: $root.noteViewModel.filter" class="form-control"></select>
            </div>
        </form>
    </div>
</div>


<hr />

<div data-bind="foreach: noteViewModel.filterNotes">
    <section data-bind="click: $root.noteViewModel.show">
        <div class="well">
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" data-bind="click: $root.noteViewModel.showAddNotification, clickBubble: false"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></button>
                <button class="btn btn-sm btn-default" data-bind="click: $root.noteViewModel.showAddTag, clickBubble: false"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></button>
                <button class="btn btn-sm btn-default" data-bind="click: $root.noteViewModel.showEdit, clickBubble: false"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                <button class="btn btn-sm btn-default" data-bind="click: $root.noteViewModel.remove, clickBubble: false"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
            <h3>
                <span data-bind="text: title"></span><br />
                <small><span data-bind="text: created"></span></small>
            </h3>
            <div data-bind="foreach: tags">
                @*, style: {backgoundColor: color}*@
                <span class="label label-default" data-bind="text: name"></span>
            </div>
        </div>

        <hr />
    </section>
</div>

@Html.Partial("Notes/_Show")

@Html.Partial("Notes/_Add")

@Html.Partial("Notes/_AddTag")

@Html.Partial("Notes/_AddNotification")

@Html.Partial("Notes/_Edit")