﻿<div class="modal fade" id="noteShow">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-bind="with: $root.noteViewModel.choosen">
            <div class="modal-header">
                <h4 class="modal-title"><span data-bind="text: title"></span></h4>
            </div>
            <div class="modal-body">
                <p data-bind="html: content"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>