﻿<!-- ko with: home -->
<div class="jumbotron">
    <h1>Noter</h1>
    <p class="lead">Беслпатный сервис по ведению личных заметок</p>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Заметки</h2>
            </div>
            <p class="panel-body">Удобное создание и редактирование Ваших заметок.</p>
            <p data-bind="text: myHometown"></p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Напоминание</h2>
            </div>
            <p class="panel-body">
                Возможность прикрепления уведомлений к Вашим заметкам и оповещение по почте.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Теги</h2>
            </div>
            <p class="panel-body">
                Создание тегов, прикрепление тегов к заметкам, фильтрация по тегам.
            </p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Хранение файлов</h2>
            </div>
            <p class="panel-body">Возможность хранения Ваших файлов и получение ссылки для того, чтобы поделиться с друзьями.</p>
        </div>
    </div>
</div>

<!-- /ko -->
