﻿<div class="fileinput fileinput-new input-group" data-provides="fileinput">
    <div class="form-control" data-trigger="fileinput">
        <i class="glyphicon glyphicon-file fileinput-exists"></i>
        <span class="fileinput-filename"></span>
    </div>
    <span class="input-group-addon btn btn-default btn-file">
        <span class="fileinput-new">Выбрать файл</span>
        <span class="fileinput-exists">Изменить выбор</span>
        <input id="fileUpload" type="file" name="..." />
    </span>
    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput"
       data-bind="click: $root.fileViewModel.upload">Загрузить</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Тип</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.fileViewModel.files">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: type"></td>
            <td>
                <input class="form-control" data-bind="value: location" />
            </td>
            <td>
                <button class="btn btn-sm btn-default" data-bind="click: $root.fileViewModel.remove, clickBubble: false"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </td>
        </tr>
    </tbody>
</table>