﻿@Styles.Render("~/css/bcp")
@Scripts.Render("~/js/bcp")

<div class="modal fade" id="myTagAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Новая метка</h4>
                <button class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form data-bind="with: $root.tagViewModel.added">
                    <div class="form-group">
                        <label for="myTagName">Название</label>
                        <input id="myTagName" class="form-control" type="text" placeholder="Название" data-bind="value: name" />
                    </div>
                    <div class="form-group">
                        <label for="myTagColorPicker">Цвет</label>
                        <div id="myTagColorPicker" class="input-group" data-bind="value: color">
                            <span class="input-group-addon"><i></i></span>
                            <input id="myTagColor" type="color" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-bind="click: $root.tagViewModel.add">Добавить</button>
            </div>
        </div>
    </div>
</div>