﻿<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default" data-bind="click: $root.tagViewModel.showAddForm">
            <span class="glyphicon glyphicon-file"></span>
        </button>
        <button class="btn btn-default">Удалить всё</button>
        <button class="btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
</div>

<hr />

<div data-bind="foreach: tagViewModel.tags">
    <section class="well" data-bind="click: $root.tagViewModel.show">
        <div class="btn-group pull-right">
            <button class="btn btn-sm btn-default" data-bind="click: $root.tagViewModel.remove, clickBubble: false"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>

        <h3 data-bind="text: name, style: {'backgoundColor': color}"></h3>
    </section>
</div>

@Html.Partial("Tags/_Add")