﻿<table class="table table-hover">
    <thead>
        <tr>
            <th>Название</th>
            <th>Время напоминания</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.noteViewModel.notifications">
        <tr>
            <td data-bind="text: title"></td>
            <td data-bind="text: created"></td>
        </tr>
    </tbody>
</table>