﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Application/_AppLayout.cshtml";
    ViewBag.Title = "Application";
}

<div class="col-lg-3">
    @Html.Partial("Page/_LeftSideMenu")
</div>
<div class="col-lg-9">
    @Html.Partial("Page/_Content")
</div>


@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/Model")
