﻿<div class="tab-content" style="padding-top:20px;">
    <div id="notes" class="tab-pane fade in active">
        @Html.Partial("Notes/_Notes")
    </div>
    <div id="notifications" class="tab-pane fade">
        @Html.Partial("_Notifications")
    </div>
    <div id="calendar" class="tab-pane fade">
        @Html.Partial("_Calendar")
    </div>
    <div id="tags" class="tab-pane fade">
        @Html.Partial("Tags/_Tags")
    </div>
    <div id="files" class="tab-pane fade">
        @Html.Partial("Files/_Files")
    </div>
</div>
