﻿<div class="navmenu navmenu-default @*navmenu-fixed-left offcanvas-sm*@" role="navigation">
    <a class="navmenu-brand" href="#">Brand</a>

    <ul class="nav navmenu-nav @*nav-pills nav-stacked*@">
        <li class="active">
            <a data-toggle="pill" href="#notes">
                <span class="glyphicon glyphicon-list-alt"></span> Заметки
                <span class="badge pull-right" data-bind="text: $root.noteViewModel.notes().length"></span>
            </a>
        </li>
        <li>
            <a data-toggle="pill" href="#notifications">
                <span class="glyphicon glyphicon-bell"></span> Напоминания
                <span class="badge pull-right" data-bind="text: $root.noteViewModel.notifications().length">4</span>
            </a>
        </li>
        @*<li>
            <a data-toggle="pill" href="#calendar">
                <span class="glyphicon glyphicon-calendar"></span> Календарь
                <span class="badge pull-right">4</span>
            </a>
        </li>*@
        <li>
            <a data-toggle="pill" href="#tags">
                <span class="glyphicon glyphicon-tags"></span> Теги
                <span class="badge pull-right" data-bind="text: $root.tagViewModel.tags().length"></span>
            </a>
        </li>
        <li>
            <a data-toggle="pill" href="#files">
                <span class="glyphicon glyphicon-folder-open"></span> Мои файлы
                <span class="badge pull-right" data-bind="text: $root.fileViewModel.files().length"></span>
            </a>
        </li>
    </ul>
</div>